@model InternetBanking.Core.Application.ViewModels.User.UserSaveViewModel
@{
    bool mode = Model.IsVerified == false ? false : true;
    ViewData["Title"] = "Change user state";
}

<div class="col-6 offset-4 py-5 mb-5 pe-5 me-5">
    <div class="card bg-dark mt-5 mb-5" style="border-radius: 1rem;">
        <div class="card-body">
            <h1 class="text-center fw-bold text-warning">Warning</h1>
            <div class="col-6 warning-img mt-0 mx-auto">
                <img src="/images/warning.png" alt="profile"
                     class="ms-3">
            </div>
            <h4 class="fs-5 fw-bold px-2 mb-3 text-white text-center">
                @(mode ? $"Are you sure you want to inactive this user?" : $"Are you sure you want to active this user?")
            </h4>

            <div class="text-center mx-auto">
                <a asp-controller="Home" asp-action="UserManagement" class="btn btn-lg btn-light me-2 mx-auto ms-2 mt-3">Cancel</a>

                <form method="post" asp-controller="Home" asp-action="ActiveUser">
                    <input type="hidden" asp-for="Id" />

                    @if (mode)
                    {
                        <button type="submit" class="btn btn-danger me-3">Inactive</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-lg btn-info me-2 mx-auto ms-2 mt-3">Active</button>
                    }
                </form>
            </div>

        </div>
    </div>
</div>