@{
    ViewData["Title"] = "Access Denied";
}

<section class="container">
    <div class="row mx-auto">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold mt-4 text-center text-primary"><i class='bx bxs-bank text-primary'></i> Internet Banking App</h1>
            <p class="fs-3 fw-bold text-secondary mt-1 text-center">
                You don't have acces to this section, press the button below to go to the home.

                <a asp-controller="Home" asp-action="Index" class="btn btn-info btn-lg mt-4"><i class='bx bxs-bank'></i> Go to Home</a>
            </p>
        </div>
    </div>
</section>
