@using InternetBanking.Core.Application.ViewModels.User
@model ForgotPassViewModel
@{
    ViewData["Title"] = "Olvidé mi contraseña";
}

@*<div class="container-fluid">
    <div class="row">
        <div class="col-6 mx-auto mt-5">
            <div class="card">
                <div class="card-header bg-primary text-light">
                    <h4>Olvidé mi contraseña</h4>
                </div>
                <div class="card-body">
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dimissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dimiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form asp-controller="User" asp-action="ForgotPassword"  method="post">

                        <div class="form-floating mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Correo"/>
                            <label asp-for="Email" class="form-label">Correo </label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="User" asp-action="Index" class="btn btn-light">Volver atrás</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>*@

<main>
    <section class="container">
        <div class="row mx-auto">

            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold mt-4 text-center text-primary"><i class='bx bxs-bank'></i> Forgot Password</h1>
                <p class="fs-3 fw-bold text-dark mt-1 text-center">
                    Insert your email and receive a link for change your password <i class="text-white">🚀</i>

                </p>


                <div class="col-10 mx-auto card bg-dark text-white mt-5 mb-5" style="border-radius: 1rem;">
                    <div class="card-body">

                        <h2 class="fw-bold mb-3 text-uppercase text-center mt-2">Forgot password</h2>
                        <p class="text-white-50 fs-5 mb-3 text-center">Please complete all the fields below!</p>
                        @Html.ValidationMessage("userVaidation", "",new{@class = "text-danger text-center fw-bold fs-5 mb-3"}, "h4")
                        @if (Model.HasError)
                        {
                            <h4 class="text-danger text-center fw-bold fs-5 mb-3">@Model.Error</h4>
                        }

                        <form asp-action="ForgotPassword" asp-controller="User" method="POST">

                            <div class="p-3">
                                <label asp-for="Email" class="form-label text-white"><strong>Email <small class="text-danger"> *</small></strong></label>
                                <input type="text" class="form-control bg-dark text-white border-white form-control-lg"
                                       id="username" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <button class="btn btn-primary  btn-lg float-end" type="submit">
                                ✅ Done
                            </button>
                            <a class="btn btn-light  btn-lg float-end me-2" id="restore-password" asp-controller="User" asp-action="Index"><i class='bx bx-log-in'></i> Back</a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>